In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
print("My name is Muhammad Arslan")

My name is Muhammad Arslan

In [4]:
print("My name is Muhammad Arslan")

My name is Muhammad Arslan

In [5]:
# comment one line

In [6]:
# Multiple line comment
"""ahhhaha
this is good language"""

'ahhhaha\nthis is good language'

In [7]:
# variable creation
Mobile_No = 9698189
a = 12

In [8]:
a

12

In [9]:
#to cheack the type of variable
type(a)

int

In [10]:
b = "arslan"

In [11]:
b

'arslan'

In [12]:
type(b)

str

In [13]:
c = 20.34

In [14]:
type(c)

float

In [15]:
#print a more than one variable in single print function
print(a,b)

12 arslan

In [16]:
var1 = 45
var2 = "cricket"

In [17]:
#create a multiple variable in single line
var1,var2 = 45,"cricket"

In [18]:
print(var1,var2)

45 cricket

In [19]:
var1,var2

(45, 'cricket')

In [20]:
#Rule of creating variable
# start with chracter or _ syomble
# not uses special word
# variable is case senstive

In [21]:
var3 = True

In [22]:
var3

True

In [23]:
type(var3)

bool

In [24]:
print(True + True + False - True)

1

In [25]:
print(True + True + True)

3

In [26]:
True*True

1

In [27]:
var4 = 21 + 2j

In [28]:
type(var4)

complex

In [29]:
var4.real

21.0

In [30]:
var4.imag

2.0

In [31]:
#typecating
p = 2.000
int(p)

2

In [32]:
type(p)

float

In [33]:
#python support dynamic and strong typing
str(12) + "asa"

'12asa'

In [34]:
#up casting
1 + int(5.0)

6

In [35]:
#string concatenaing 
"arslan" + " arslan"

'arslan arslan'

In [36]:
"arslan" * 3

'arslanarslanarslan'

In [37]:
#taking input from user
var5 = input()

757

In [38]:
var6 = input("Integer Number:")

Integer Number:567

In [39]:
type(var6)

str

In [40]:
type(var5)

str

In [41]:
#their is problem it give only str data ,change is to rquired dtype
var7 = int(input("your favorit number:"))

your favorit number:4

In [42]:
type(var7)

int

In [43]:
var7

4

In [44]:
a = int(input("put number a:"))
b = int(input())
c = int(input())
d = 6 + 6j
o = (a + b)/c 
o + d

put number a:45
675
567

(7.26984126984127+6j)

In [46]:
#Decision making statement or conditional statement
var7 = int(input("INPUT A NUMBER LESSER THEN 34 --"))
if var7 < 34:
    pass
if True :
    print("icode guru")

INPUT A NUMBER LESSER THEN 34 --5686
icode guru

In [47]:
if var7 < 34 :
    print("my number is less then 34")

In [48]:
var7 = int(input("INPUT A NUMBER LESSER THEN 34 --"))
if var7 < 34 :
    print("my number is less then 34")
else:
    print("my number is grater then 34")

INPUT A NUMBER LESSER THEN 34 --7897
my number is grater then 34

In [49]:
var7 = int(input("INPUT A Positive NUMBER LESSER THEN 34 --"))
if 0 < var7 < 34 :
    print("user number is lesser then 34")
elif var7 == 0 :
    print("user input is zero")
else:
    
    print("user input is greater then 34")

INPUT A Positive NUMBER LESSER THEN 34 --78678
user input is greater then 34

In [50]:
salary = int(input("Enter your Salary:"))
if salary > 1000 :
    print("i will buy a car")
elif salary > 500 :
    print("i will go for bike ")
elif salary > 100 :
    print("i will not buy anything")
else :
    print("i will go for saving")

Enter your Salary:6786786
i will buy a car

In [51]:
#Nested condition or Nested statement
salary = int(input("Enter your Salary:"))
if salary > 1000 :
    print("my salary is good")
    if salary > 70000 :
        print("i will buy BWM car") 
    elif salary > 7000 :
        print("i will buy a  nano car")
    elif salary > 700 :
        print("i will by a mehran car")
    else:
        print("i will rent a car")
elif salary > 500 :
    print("i will go for bike ")
elif salary > 100 :
    print("i will not buy anything")
else :
    print("i will go for saving")

Enter your Salary:6786786
my salary is good
i will buy BWM car

In [52]:
#how to write a multiple condition in if statement and what kind of condition,(try the code into small piece)
a = 10
b = 20
if a == 10 and b > 20 :
    print("this is a vaild statement")
elif a == 10 and b <= 20 :
    print("statement is ture in elif")
else : 
    print("this is invalid statement")

statement is ture in elif

In [53]:
a = input("First name:")
b = input("Last name:")
if ( a == "Arslan" or a == "arslan" ) and ( b == "jutt" or b == "Jutt"):
    print("owner of program")
else:
    print("your name is:",a,b)

First name:6789678
Last name:7567567
your name is: 6789678 7567567

In [54]:
#loop is used for repeating the statement
#while loop:usually this is used when you not known the itration
initial_speed = 0
final_speed = 100
while initial_speed < final_speed :
    print("speed")
    initial_speed = initial_speed + 1

speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed

In [55]:
initial_speed = 0
final_speed = 100
while initial_speed < final_speed :
    print(initial_speed,"speed")
    initial_speed = initial_speed + 1
    if initial_speed == 10 :
        break

0 speed
1 speed
2 speed
3 speed
4 speed
5 speed
6 speed
7 speed
8 speed
9 speed

In [56]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1
else : 
    while i > j:
        print(i)
        j = j + 1
        if j == 10:
            break

1
2
3
4
5
5
5
5

In [57]:
a = "arslan"

In [58]:
a

'arslan'

In [59]:
#Indexing in a string
a[0]

'a'

In [60]:
a[3]

'l'

In [61]:
a[5]

'n'

In [62]:
#indexing in string reversing the order
a[-2]

'a'

In [63]:
a[-1]

'n'

In [64]:
a[-6]

'a'

In [65]:
var9 = "ahmad is good friend"

In [66]:
var9

'ahmad is good friend'

In [67]:
#Slicing in string ,"end point is exclude"
var9[3:12]

'ad is goo'

In [68]:
var9[3:12:2]     #var9[start:end+1:step size]

'a sgo'

In [69]:
#Slicing the string in reverse order
var9[12:3]

''

In [70]:
var9[11:2:-1]

'oog si da'

In [71]:
var9[0:-6]

'ahmad is good '

In [72]:
var9[0:14]

'ahmad is good '

In [73]:
var9

'ahmad is good friend'

In [74]:
# for loop is usualy used when itration is known ,it is also used to itrate data from any list,set,dic,tuple
for i in var9:
    print(i)

a
h
m
a
d

i
s

g
o
o
d

f
r
i
e
n
d

In [75]:
for i in var9:
    print(i)
else:
    if i == "d":
        print("this var9 end on d")

a
h
m
a
d

i
s

g
o
o
d

f
r
i
e
n
d
this var9 end on d

In [76]:
for i in var9:
    print(i)
    if i == "o":
        break
else:
    if i == "d":
        print("this var9 end on d")

a
h
m
a
d

i
s

g
o

In [77]:
for i in var9:
    if i == "o":
        continue
    print(i)
        
else:
    if i == "d":
        print("this var9 end on d")

a
h
m
a
d

i
s

g
d

f
r
i
e
n
d
this var9 end on d

In [78]:
s = "icodeguru"
ss = ""
for i in range(len(s)) :
    if s[i] == "g" :
        continue
    else : 
        ss = ss + s[i]

In [79]:
ss

'icodeuru'

In [80]:
#Nested for loop (for loop inside of for loop)
n = 7
for i in range(0,n) :
    for j in range(0,i+1):
        print("+ " , end="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [81]:
#to store values in one variable
l = list()

In [82]:
name = "Arslan"
phone = 35513543
city = "kamalia"

In [83]:
l = [name,phone,city]
l

['Arslan', 35513543, 'kamalia']

In [84]:
l[0]

'Arslan'

In [85]:
#list in side list
l = ["Arslan","Abrar","Ahmed",["zohaib","danish",127,23],6+7j,2747,555]
len(l)

7

In [86]:
#for exracting all type of variable store in list
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'complex'>
<class 'int'>
<class 'int'>

In [87]:
#if you want to extract all type of variable store in list inside list
for i in l :
    if type(i) == list :
        for j in i:
            print(type(j))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>

In [88]:
#String manuplation,string is immuteable by index like a[1]="c"
a = "ahmed"

In [89]:
a

'ahmed'

In [90]:
a*4

'ahmedahmedahmedahmed'

In [91]:
a + "s"

'ahmeds'

In [92]:

# a[1] = "c"

In [93]:
a = "this is basics of python"
a

'this is basics of python'

In [94]:
# If we want to use quote in our string then we use single quote and then double quote or voice versa or use escape charcter \
c = "this is basics of python 'this is run on icodeguru'"
d = 'this is basics of python "this is run on icodeguru" good'
e = "this is basics of python \"run on icodeguru\""

In [95]:
print(c)
print(d)
print(e)

this is basics of python 'this is run on icodeguru'
this is basics of python "this is run on icodeguru" good
this is basics of python "run on icodeguru"

In [96]:
a[1]

'h'

In [97]:
a[0]

't'

In [98]:
a[-1]

'n'

In [99]:
# Length of any iterable objects 
len(a)

24

In [100]:
#Slicing in string 
a[1:5]   # the upper bound is exlude since start from 1 and end on 4 like 1,2,3,4 
              #bydeful step size is one "space is also a one char"

'his '

In [101]:
#Data in revers order 
a[-1:-7:-1]

'nohtyp'

In [102]:
a[:]

'this is basics of python'

In [103]:
a[::-1]

'nohtyp fo scisab si siht'

In [104]:
for i in range(len(a)) :
    print(a[i] )

t
h
i
s

i
s

b
a
s
i
c
s

o
f

p
y
t
h
o
n

In [105]:
a.find('i') #if you not have this string it give you -1

2

In [106]:
a[2]

'i'

In [107]:
a.find("is")    #find function give you only starting string index

2

In [108]:
b = a.find("basics")
for i in range(len("basics")):
    print(b + i)

8
9
10
11
12
13

In [109]:
a.count("is")  # count function give you what of your string is occure you variable 
                #this is case-senstive

2

In [110]:
a.split()   #this give you each substring that make with seprater

['this', 'is', 'basics', 'of', 'python']

In [111]:
a.split("i")

['th', 's ', 's bas', 'cs of python']

In [112]:
type(a.split("i"))

list

In [113]:
a.upper()

'THIS IS BASICS OF PYTHON'

In [114]:
a.lower()

'this is basics of python'

In [115]:
a.swapcase()   #swap the data that are in upper case change it into lower case and voice versa

'THIS IS BASICS OF PYTHON'

In [116]:
" ".join(a)

't h i s   i s   b a s i c s   o f   p y t h o n'

In [117]:
".".join("ab")

'a.b'

In [118]:
reversed(a)

In [119]:
list(reversed(a))

['n',
 'o',
 'h',
 't',
 'y',
 'p',
 ' ',
 'f',
 'o',
 ' ',
 's',
 'c',
 'i',
 's',
 'a',
 'b',
 ' ',
 's',
 'i',
 ' ',
 's',
 'i',
 'h',
 't']

In [120]:
for i in reversed(a):
    print(i)

n
o
h
t
y
p

f
o

s
c
i
s
a
b

s
i

s
i
h
t

In [121]:
a[::-1]

'nohtyp fo scisab si siht'

In [122]:
b = "    icode    guru     "

In [123]:
b.strip() #remove the space of str from both side

'icode    guru'

In [124]:
b.lstrip()   #remove the space of str from left side

'icode    guru     '

In [125]:
b.rstrip()        #remove the space of str from right side

'    icode    guru'

In [126]:
b.replace("e   ","e")

'    icode guru     '

In [127]:
b = "icode guru"

In [128]:
b.center(19,"#")

'#####icode guru####'

In [129]:
b = "icode\tguru"
b.expandtabs()

'icode   guru'

In [130]:
 a = "We are all part of Icode Guru"

In [131]:
a.lower()

'we are all part of icode guru'

In [132]:
a.count("a")

3

In [133]:
for i in range(len(a)):
    if a[i] == "a" :
        print(i)

3
7
12

In [134]:
a.replace("a","icode")

'We icodere icodell picodert of Icode Guru'

In [135]:
a.split()

['We', 'are', 'all', 'part', 'of', 'Icode', 'Guru']

In [136]:
a.isupper()       #srting method that start with is its give boolen values

False

In [137]:
a.islower()

False

In [138]:
a.endswith("u")

True

In [139]:
a.startswith('t')

False

In [140]:
a.isalnum()

False

In [141]:
a = "aaaa"

In [142]:
a.isalnum()

True

In [143]:
len(a)

4

In [144]:
count = 0
for i in a :
    count = count+1
print(count)

4

In [145]:
for i in range(1,len(a)+1):
    print(a[-i])

a
a
a
a

In [146]:
a = "Sir shahid"
ch = len(a)-1
while ch >= 0:
    print(a[ch])
    ch = ch-1

d
i
h
a
h
s

r
i
S

In [147]:
name = "MAMyousra"
vowels = "AaEeIiOoUu"
for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

M is not a vowel
A is a vowel
M is not a vowel
y is not a vowel
o is a vowel
u is a vowel
s is not a vowel
r is not a vowel
a is a vowel

In [148]:
s = input("Enter a data for which you whould like to check pelidrom: ")
s1 = s[::-1]
if s == s1:
    print("True")
else:
    print("Flase")

Enter a data for which you whould like to check pelidrom: eye
True

In [149]:
#List manuplation
l = ["Arslan","Ahmad",1,3,3.45,[1,4,4,"Abrar"],12]

In [150]:
#Slicing and indexing
l[1:34]

['Ahmad', 1, 3, 3.45, [1, 4, 4, 'Abrar'], 12]

In [151]:
l[0]

'Arslan'

In [152]:
l[5][3] #nested list element access

'Abrar'

In [153]:
#concatenating list
s = "Arsal"
l + [s]

['Arslan', 'Ahmad', 1, 3, 3.45, [1, 4, 4, 'Abrar'], 12, 'Arsal']

In [154]:
#concatenating list   #string cannot add in list 
s = "Arsal"
l + list(s)

['Arslan',
 'Ahmad',
 1,
 3,
 3.45,
 [1, 4, 4, 'Abrar'],
 12,
 'A',
 'r',
 's',
 'a',
 'l']

In [155]:
l*2

['Arslan',
 'Ahmad',
 1,
 3,
 3.45,
 [1, 4, 4, 'Abrar'],
 12,
 'Arslan',
 'Ahmad',
 1,
 3,
 3.45,
 [1, 4, 4, 'Abrar'],
 12]

In [156]:
len(l)

7

In [157]:
for i in l:
    if type(i)==list:
        print(i)

[1, 4, 4, 'Abrar']

In [158]:
#find any thing in list or not
"Arslan" in l

True

In [159]:
4 in l[5]   #if data in sublist check it with that index

True

In [160]:
 a = ["Arslan","Ahmed","Abrar" ,"Wahid"]

In [161]:
" ".join(a)

'Arslan Ahmed Abrar Wahid'

In [162]:
",".join(a)

'Arslan,Ahmed,Abrar,Wahid'

In [163]:
max(a) #it give in str list w.r.t. alphabatic order

'Wahid'

In [164]:
max([1,23,34,54,3,363])

363

In [165]:
l1 = [1,23,34,54,3,363]
l1

[1, 23, 34, 54, 3, 363]

In [166]:
min(l1)

1

In [167]:
l2 = [1,2,3,4,5]

In [168]:
l2.append("Ahmed")   #append the data at last of list

In [169]:
l2

[1, 2, 3, 4, 5, 'Ahmed']

In [170]:
l2.append(l1)
l2

[1, 2, 3, 4, 5, 'Ahmed', [1, 23, 34, 54, 3, 363]]

In [171]:
l1.insert(2,"IcodeGuru")   #insert data in the requried possition
l1

[1, 23, 'IcodeGuru', 34, 54, 3, 363]

In [178]:
l1.insert(len(l1),"Arslan")
l1

['Arslan',
 'Arslan',
 1,
 23,
 'IcodeGuru',
 34,
 54,
 3,
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 363,
 'Arslan']

In [179]:
l1.count("Arslan")

7

In [180]:
l2 = [1,2,3,4,5]

In [181]:
l2.append("Abrar")

In [182]:
l2

[1, 2, 3, 4, 5, 'Abrar']

In [183]:
l2.extend("Ah")

In [184]:
l2

[1, 2, 3, 4, 5, 'Abrar', 'A', 'h']

In [187]:
l2.extend([1,2])
l2

[1, 2, 3, 4, 5, 'Abrar', 'A', 'h', 1, 2, 1, 2]

In [188]:
l2.extend(["arslan",1,2])

In [189]:
l2

[1, 2, 3, 4, 5, 'Abrar', 'A', 'h', 1, 2, 1, 2, 'arslan', 1, 2]

In [190]:
l2.extend([1,"Arslan",[1,"A"]])

In [191]:
l2

[1,
 2,
 3,
 4,
 5,
 'Abrar',
 'A',
 'h',
 1,
 2,
 1,
 2,
 'arslan',
 1,
 2,
 1,
 'Arslan',
 [1, 'A']]

In [192]:
l2.index(3)

2

In [193]:
l = [1,2,3,4]

In [194]:
l.pop()

4

In [195]:
l

[1, 2, 3]

In [196]:
l.pop(1)

2

In [197]:
l

[1, 3]

In [199]:
l1 = [1,2,3,4,5,6,6,7]

In [201]:
l1.remove(4)

In [202]:
l1

[1, 2, 3, 5, 6, 6, 7]

In [203]:
l1.remove(6)

In [204]:
l1

[1, 2, 3, 5, 6, 7]

In [207]:
l1.reverse()

In [208]:
l1

[7, 6, 5, 3, 2, 1]

In [209]:
l1.sort()

In [210]:
l1

[1, 2, 3, 5, 6, 7]

In [218]:
l = [1,3,2,5,4]

In [219]:
l.sort()
l

[1, 2, 3, 4, 5]

In [224]:
l = ["Zahid","Wahid","Arslan","B","Bd","Bc"]

In [225]:
l.sort()
l

['Arslan', 'B', 'Bc', 'Bd', 'Wahid', 'Zahid']

In [1]:
l = [[1,2,3],[3,4,5],["A","B","C"],12,34]

In [2]:
l.insert(1,["m",5])

In [3]:
l

[[1, 2, 3], ['m', 5], [3, 4, 5], ['A', 'B', 'C'], 12, 34]

In [4]:
l.insert(1,1+3j)

In [5]:
l

[[1, 2, 3], (1+3j), ['m', 5], [3, 4, 5], ['A', 'B', 'C'], 12, 34]

In [6]:
type(l[1])

complex

In [7]:
l = [[1,2,3],["A","s","A",2],[3,4,"Ar"],5,6]
l

[[1, 2, 3], ['A', 's', 'A', 2], [3, 4, 'Ar'], 5, 6]

In [8]:
l.insert(1,[1+3j,1])

In [9]:
l.insert(2,[4+5j,"A"])
l

[[1, 2, 3], [(1+3j), 1], [(4+5j), 'A'], ['A', 's', 'A', 2], [3, 4, 'Ar'], 5, 6]

In [10]:
l[1].insert(1,["Arslan",12])

In [11]:
l

[[1, 2, 3],
 [(1+3j), ['Arslan', 12], 1],
 [(4+5j), 'A'],
 ['A', 's', 'A', 2],
 [3, 4, 'Ar'],
 5,
 6]

In [27]:
for i in l:
    if type(i) == list:
        print(i[1])

2
s
4

In [29]:
for i in range(len(l)):
    if type(l[i]) == list:
        print(l[i][1])

2
s
4

In [21]:
l = []
for i in range(3):
    l.append(int(input()))
print(l)

45
4
67
[45, 4, 67]

In [22]:
input()

[1,2,3,4]

'[1,2,3,4]'

In [61]:
l = [[1,2,3],["A","s","A",2],[3,4,"Ar"],5,6]
print(l)
for i in l:
    if type(i) == list:
        for j in range(len(i)):
            if type(i[j])==str:
                print("The index of {} string is:".format(i[j]),j)
#         for j in range(len(i)):
#             if type(i[j])==str:
#                 i.remove(i[j])
# print("The l after removing",l)

[[1, 2, 3], ['A', 's', 'A', 2], [3, 4, 'Ar'], 5, 6]
The index of A string is: 0
The index of s string is: 1
The index of A string is: 2
The index of Ar string is: 2

In [75]:
l = [[1,2,3],["A","s","A",2],[3,4,"Ar"],5,6]
print(l)

for i in l:
    if type(i) == list:
#         j=0
#         while j<len(i):
    
       
        for j in range(len(i)):
          
            if type(i[j])==str:
                print("The index of {} string is:".format(i[j]),j)
#             j=j+1
                
        k=0
        while k<len(i):
            if type(i[k])==str:
                i.remove(i[k])
                continue
            k=k+1
print("The l after removing",l)

[[1, 2, 3], ['A', 's', 'A', 2], [3, 4, 'Ar'], 5, 6]
The index of A string is: 0
The index of s string is: 1
The index of A string is: 2
The index of Ar string is: 2
The l after removing [[1, 2, 3], [2], [3, 4], 5, 6]

In [8]:
k=0
for i in l:
    if type(i) is list:
#         k=0
        while k<len(i):
            if type(i[k])==str:
                i.remove(i[k])
                continue
            k=k+1
print(l)

[[1, 2, 3], ['A', 's', 'A', 2], [3, 4, 'Ar'], 5, 6]

In [10]:
for i in l:
    if type(i) is list:
        k=0
        while k<len(i):
            if type(i[k])==str:
                i.remove(i[k])
                continue
            k=k+1
print(l)

[[1, 2, 3], [2], [3, 4], 5, 6]

In [11]:
l=[]
for i in "Arslan":
    l.append(i)
print(l)

['A', 'r', 's', 'l', 'a', 'n']

In [12]:
#List comprehension
[i for i in "Arslan"]

['A', 'r', 's', 'l', 'a', 'n']

In [13]:
[[i] for i in "Arslan"]

[['A'], ['r'], ['s'], ['l'], ['a'], ['n']]

In [14]:
l=[]

In [18]:
for i in range(10):
    if i%2 == 0 :                      # % reminder oprater
        l.append(i)
print(l)

[0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [22]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [24]:
l=[]
for i in range(10):
    if i%2==0:
        l.append([i,"even"])
    else:
        l.append([i,"odd"])
print(l)

[[0, 'even'], [1, 'odd'], [2, 'even'], [3, 'odd'], [4, 'even'], [5, 'odd'], [6, 'even'], [7, 'odd'], [8, 'even'], [9, 'odd']]

In [25]:
[ [i,"even"] if i%2==0 else [i,"odd"] for i in range(10)]

[[0, 'even'],
 [1, 'odd'],
 [2, 'even'],
 [3, 'odd'],
 [4, 'even'],
 [5, 'odd'],
 [6, 'even'],
 [7, 'odd'],
 [8, 'even'],
 [9, 'odd']]

In [26]:
l = []
for i in range(3):
    l.append([])
    for j in range(3):
        l[i].append(j)
print(l)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [28]:
[ [ j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [31]:
l = list(range(10))

In [32]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
['yes' if i==1 else 'no' if i==2 else 'test' for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [34]:
res =[]
for i in l:
    if i==1:
        res.append("yes")
    elif i==2:
        res.append("no")
    else:
        res.append('test')
print(res)

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [35]:
#Tuple 
t = ()

In [36]:
type(t)

tuple

In [37]:
l = []
type(l)

list

In [1]:
t = (12,35,"Arslan",2+2j,True)
t

(12, 35, 'Arslan', (2+2j), True)

In [41]:
l = [12,35,"Arslan",2+2j,True]
l

[12, 35, 'Arslan', (2+2j), True]

In [42]:
t[0]

12

In [43]:
t[0:3]

(12, 35, 'Arslan')

In [44]:
t[::-1]

(True, (2+2j), 'Arslan', 35, 12)

In [46]:
l[0] = "Ahmed"       #that type of operation not support in tuple
l               # list is muteable and tuple is not mutable

['Ahmed', 35, 'Arslan', (2+2j), True]

In [48]:
t1 = (12,35)

In [49]:
t+t1

(12, 35, 'Arslan', (2+2j), True, 12, 35)

In [51]:
t1*3

(12, 35, 12, 35, 12, 35)

In [2]:
len(t)

5

In [3]:
True in t

True

In [4]:
"Arslan" in t

True

In [6]:
t= (1,2,3,4)

In [7]:
max(t)

4

In [8]:
min(t)

1

In [10]:
t= ('a','b','c')

In [11]:
max(t)

'c'

In [12]:
min(t)

'a'

In [13]:
t = (1,1,1,1,2,2,3,4,"Arslan")

In [14]:
t.count(1)

4

In [15]:
t.index(1)

0

In [20]:
for i in range(len(t)):
    if type(t[i]) == str:
        print(i)

8

In [21]:
t1= (1,2,3)

In [22]:
t+t1

(1, 1, 1, 1, 2, 2, 3, 4, 'Arslan', 1, 2, 3)

In [23]:
l = list(t)
l

[1, 1, 1, 1, 2, 2, 3, 4, 'Arslan']

In [24]:
l.insert(2,5)

In [25]:
t = tuple(l)
t

(1, 1, 5, 1, 1, 2, 2, 3, 4, 'Arslan')

In [26]:
t = ((1,2,3,4),("1",3,"a",[5,34]))

In [28]:
t[1][3]

[5, 34]

In [29]:
type(t[1][3])

list

In [30]:
t[1][1:3]

(3, 'a')

In [31]:
for i in t:
    if type(i)==tuple:
        print(i[0])

1
1

In [32]:
t = (1,2,3,4,"Arslan","Ahmed","Qasid")

In [33]:
i = input("Write your name:")
if i in t:
    print("your name is available")
else:
    print("your name is not available")

Write your name:Arslan
your name is available

In [36]:
#Set
x = set()  #unorder collection of different object 
           #if you want to remove dublecate then it use but it hard to mauplate

In [37]:
type(x)

set

In [2]:
l= [1,1,1,2,3,3,5,3,4,3,4,'Arslan',"Arslan","arslan"]

In [4]:
x=set(l)
x                       #set is not subscriptable x[0]

{1, 2, 3, 4, 5, 'Arslan', 'arslan'}

In [6]:
s= set()

In [7]:
s.difference_update()

In [8]:
s

set()

In [10]:
s.add(3)

In [11]:
s

{3}

In [12]:
s = set([1,2,3,4,5,5])

In [13]:
s

{1, 2, 3, 4, 5}

In [15]:
s.union(x)

{1, 2, 3, 4, 5, 'Arslan', 'arslan'}

In [17]:
tuple(s)

(1, 2, 3, 4, 5)

In [18]:
s

{1, 2, 3, 4, 5}

In [20]:
#Dictionary
d = {}
d

{}

In [21]:
type(d)

dict

In [24]:
s1 = {1,2}
s1

{1, 2}

In [25]:
type(s1)

set

In [27]:
#Dictionary take the key and value seprate by : ,it not take duplicate key 
d = {'Arslan':189,"Ahmed":345}
d

{'Arslan': 189, 'Ahmed': 345}

In [28]:
type(d)

dict

In [33]:
d1 = {"name":"Arslan","age":21,"village":189,False:12,123:123,1234:"as"}
d1

{'name': 'Arslan', 'age': 21, 'village': 189, False: 12, 123: 123, 1234: 'as'}

In [19]:
d2 = {"tuple":(2,3),"list":[34,4],"set":{54,34},"dict":{"name":"Ar"},(2,3):122}
d2           #as a key we use tuple not list ,set,dict and special charachter

{'tuple': (2, 3),
 'list': [34, 4],
 'set': {34, 54},
 'dict': {'name': 'Ar'},
 (2, 3): 122}

In [44]:
d2["list"]  #key is used like index

[34, 4]

In [45]:
d1[1234]

'as'

In [46]:
type(d2["list"])

list

In [47]:
d2["list"][1]

4

In [48]:
d2["dict"]["name"]

'Arslan'

In [3]:
d = {"name":"Arslan","dict":{"a":[12,34],"j":{'name':12}}}
d

{'name': 'Arslan', 'dict': {'a': [12, 34], 'j': {'name': 12}}}

In [4]:
d["dict"]["j"]

{'name': 12}

In [5]:
d["dict"]["j"]["name"]

12

In [6]:
d["name"]="ahmed"

In [7]:
d

{'name': 'ahmed', 'dict': {'a': [12, 34], 'j': {'name': 12}}}

In [8]:
d["name"] = 50
d

{'name': 50, 'dict': {'a': [12, 34], 'j': {'name': 12}}}

In [9]:
d["name"] -= 10
d

{'name': 40, 'dict': {'a': [12, 34], 'j': {'name': 12}}}

In [10]:
"name" in d.keys()

True

In [12]:
"j" in d.keys()

False

In [14]:
"j" in d["dict"].keys()

True

In [15]:
for i in d:
    print(i)

name
dict

In [16]:
for i in d:
    print(d[i])

40
{'a': [12, 34], 'j': {'name': 12}}

In [17]:
for i in d.keys():
    print(d[i])

40
{'a': [12, 34], 'j': {'name': 12}}

In [18]:
d.keys()

dict_keys(['name', 'dict'])

In [20]:
d2

{'tuple': (2, 3),
 'list': [34, 4],
 'set': {34, 54},
 'dict': {'name': 'Ar'},
 (2, 3): 122}

In [21]:
d2.keys()

dict_keys(['tuple', 'list', 'set', 'dict', (2, 3)])

In [22]:
d2.items()

dict_items([('tuple', (2, 3)), ('list', [34, 4]), ('set', {34, 54}), ('dict', {'name': 'Ar'}), ((2, 3), 122)])

In [24]:
for i in d2.items():
    print(i[0])

tuple
list
set
dict
(2, 3)

In [25]:
len(d)

2

In [32]:
p = input("Type any paragraph: ")

Type any paragraph: ST recently released the FDA903Q single-channel class-D audio amplifier for automotive, thus completing the FDA903 series

In [34]:
l = p.split(" ")

In [66]:
s = set(l)
s

{'FDA903',
 'FDA903Q',
 'ST',
 'amplifier',
 'audio',
 'automotive,',
 'class-D',
 'completing',
 'for',
 'recently',
 'released',
 'series',
 'single-channel',
 'the',
 'thus'}

In [67]:
l = list(s)
l

['single-channel',
 'completing',
 'series',
 'amplifier',
 'class-D',
 'FDA903',
 'the',
 'automotive,',
 'FDA903Q',
 'audio',
 'released',
 'thus',
 'ST',
 'for',
 'recently']

In [64]:
dict.fromkeys(s,"as")

{'single-channel': 'as',
 'completing': 'as',
 'series': 'as',
 'amplifier': 'as',
 'class-D': 'as',
 'FDA903': 'as',
 'the': 'as',
 'automotive,': 'as',
 'FDA903Q': 'as',
 'audio': 'as',
 'released': 'as',
 'thus': 'as',
 'ST': 'as',
 'for': 'as',
 'recently': 'as'}

In [65]:
dict.fromkeys(l,"as")

{'single-channel': 'as',
 'completing': 'as',
 'series': 'as',
 'amplifier': 'as',
 'class-D': 'as',
 'FDA903': 'as',
 'the': 'as',
 'automotive,': 'as',
 'FDA903Q': 'as',
 'audio': 'as',
 'released': 'as',
 'thus': 'as',
 'ST': 'as',
 'for': 'as',
 'recently': 'as'}

In [45]:
dic = {}
for i in l:
    dic[i]="Arslan"
print(dic)

{'single-channel': 'Arslan', 'completing': 'Arslan', 'series': 'Arslan', 'amplifier': 'Arslan', 'class-D': 'Arslan', 'FDA903': 'Arslan', 'the': 'Arslan', 'automotive,': 'Arslan', 'FDA903Q': 'Arslan', 'audio': 'Arslan', 'released': 'Arslan', 'thus': 'Arslan', 'ST': 'Arslan', 'for': 'Arslan', 'recently': 'Arslan'}

In [57]:
dic.items()

dict_items([('single-channel', 'Arslan'), ('completing', 'Arslan'), ('series', 'Arslan'), ('amplifier', 'Arslan'), ('class-D', 'Arslan'), ('FDA903', 'Arslan'), ('the', 'Arslan'), ('automotive,', 'Arslan'), ('FDA903Q', 'Arslan'), ('audio', 'Arslan'), ('released', 'Arslan'), ('thus', 'Arslan'), ('ST', 'Arslan'), ('for', 'Arslan'), ('recently', 'Arslan')])

In [58]:
tuple(dic.keys())

('single-channel',
 'completing',
 'series',
 'amplifier',
 'class-D',
 'FDA903',
 'the',
 'automotive,',
 'FDA903Q',
 'audio',
 'released',
 'thus',
 'ST',
 'for',
 'recently')

In [59]:
list(dic.values())

['Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan',
 'Arslan']

In [68]:
d = {"eduction":"icodeguru" , "course":"problem_solving", "year":2022}

In [70]:
for i in d:
    print("Dict :  ",i,";","Value :  ",d[i])

Dict :   eduction ; Value :   icodeguru
Dict :   course ; Value :   problem_solving
Dict :   year ; Value :   2022

In [71]:
'course' in d

True

In [72]:
for i in d:
    if i == "year":
        if d[i]>2022:
            print("fine")
        else:
            d[i]= 2023

In [73]:
d

{'eduction': 'icodeguru', 'course': 'problem_solving', 'year': 2023}

In [74]:
for i in d:
    if i == "year":
        if d[i]>2022:
            print("fine")
        else:
            d[i]= 2023

fine

In [1]:
#Dictionary comprehension
my_dict ={}
for i in range (10):
    my_dict[i]= i*i

In [2]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [4]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

In [3]:
#Function
def test(a,b):
    pass

In [4]:
test(12,34)

In [6]:
def add_func(a,b):
    print(a+b)

In [7]:
add_func(1,3)

4

In [8]:
add_func(12,34)

46

In [20]:
def test1(x,y):        
    return x*y
#print function give you nontype but return give you exact(int float boolean) data type

In [17]:
test1(2,3)

6

In [18]:
type(test(1,23))

NoneType

In [19]:
type(test1(2,3))

int

In [22]:
def test2(a,b,c):
    return a+b

In [24]:
test2(2,3,3)

5

In [31]:
def test3(a,b):              #multipule returns
    return a*23,b+23 ,b*23

In [32]:
test3(2,3)

(46, 26, 69)

In [33]:
type(test3(2,3))

tuple

In [36]:
c,x,v= test3(2,3)

In [37]:
c

46

In [38]:
x

26

In [39]:
v

69

In [40]:
c,_,x = test3(2,3)

In [41]:
c

46

In [42]:
_

26

In [43]:
x

69

In [47]:
def test4(n):
    return n*2

In [49]:
test4([34,5,6])

[34, 5, 6, 34, 5, 6]

In [50]:
def test5(n , m = 90):
    return n+m

In [51]:
test5(3)

93

In [52]:
test5(5,6)

11

In [54]:
def boolx(x = True,y = False):
    return x+y

In [56]:
boolx()

1

In [57]:
boolx(23,4)

27

In [59]:
type(boolx(False,3))

int

In [60]:
def travel(bike = True , car = False):
    plan_travel = bike or car
    return bike , car , plan_travel

In [61]:
travel()

(True, False, True)

In [62]:
travel(True)

(True, False, True)

In [63]:
travel(car = True)

(True, True, True)

In [114]:
def test6(*args):    # * used for take any number of arguments and output is tuple like above
    return args

In [68]:
test6()

()

In [69]:
test6("ahmed","hassan",[23,3,54],{3,45})

('ahmed', 'hassan', [23, 3, 54], {3, 45})

In [106]:
def test7(*a):
    l = []
    for i in a:
        if type(i)==list:
            l.extend(i)
    return l

In [107]:
test7([3,4,5,6,6],[354,654],[344,567])

[3, 4, 5, 6, 6, 354, 654, 344, 567]

In [108]:
def test8(**kwa):   # ** used for take any number of argument and output is dictionary
    return kwa

In [113]:
test8(a = 5)

{'a': 5}

In [117]:
test8(a = 8,b = "as",c = [23,4],d = {4:34})

{'a': 8, 'b': 'as', 'c': [23, 4], 'd': {4: 34}}

In [123]:
def test9(*a,**kwa):
        l= [i for i in a]
        d= [i[1] for i in kwa.items() if i[1]==list]
        return l,d

In [15]:
def test11(**kwa):
    for i in kwa.values():
        if type(i) == list:
            "arslan" or "Arslan" in i 
            print("i am find your name: ")
            print(i)

In [16]:
test11(a='arslan',b=["arslan","Arslan"])

i am find your name:
['arslan', 'Arslan']

In [5]:
d = {"arslan":235,"a":122,23:"abrar"}

In [14]:
for i in d.items():
    print(i[1])

235
122
abrar

In [4]:
def func(*a):
    dt = {}
    for i in a:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [5]:
func("a",[12,34],"Arslan",{2:23,"a":234},{2,34},23,2+1j)

{str: ['a', 'Arslan'],
 list: [[12, 34]],
 dict: [{2: 23, 'a': 234}],
 set: [{2, 34}],
 int: [23],
 complex: [(2+1j)]}

In [17]:
def func1(**kwa):
    print("This is my args element  :" , kwa.items())

In [18]:
func1(x ='asfgasa')

This is my args element  : dict_items([('x', 'asfgasa')])

In [21]:
def func2(name , mail_id):
    con = name + mail_id
    return mail_id , name , con

In [22]:
func2("arslan","icodeguru@gmail.com")

('icodeguru@gmail.com', 'arslan', 'arslanicodeguru@gmail.com')

In [23]:
a = 29
b = 23
def test(x,y):
    return x + y

In [24]:
test(a,b)

52

In [25]:
# lambda keyword (ananomus function(function with out name)) used to creat function without name (use at once where write)
# its call with variable , one line function 
m = lambda x,y : x + y

In [27]:
m(a,b)

52

In [28]:
n = lambda arg1,arg2 : print(arg1,arg2)

In [29]:
n(a,b)

29 23

In [30]:
              # Scope of variable: the varialbe that can be acess anyware is called global var 
     #the variable that is update or have a scope in specific place or we acess in certain place
r = 10      #global
def test3(a ,b) : 
    r = a/b    #local       
    return r

In [32]:
test3(100,10)

10.0

In [34]:
test3(10,10)

1.0

In [4]:
#doc string: help to understand what the function do  (defination of function)

def test4():
    """
    
    this is my test function with the help of this function you will be able to learn basic of fun
    """
    return "my name is xyz"

In [5]:
test4()

'my name is xyz'

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
help(test4)

Help on function test4 in module __main__:

test4()
    this is my test function with the help of this function you will be able to learn basic of fun

In [20]:
#iterable:  
             #is object that are extract some how [extract able by index]
#iterator: 
     """ is that give you next next element of iterable object
     [iterator is object that remamber what is done last time and what next to do]
              """
#generator:
          #

In [9]:
s = "icodeguru"

In [13]:
s=iter(s)

In [17]:
next(s)

'd'

In [18]:
next(s)

'e'

In [23]:
next(s)

'u'

In [24]:
for i in "icodeguru":
    print (i)

i
c
o
d
e
g
u
r
u

In [39]:
l = [3,4,5,6]

In [40]:
l = iter(l)

In [41]:
next(l)

3

In [42]:
t = (1,2,3,4,5)

In [45]:
t = iter(t)

In [46]:
next(t)

1

In [49]:
def test5(n):
    l = []
    for i in range (n):
        l.append(i**3)
    return l

In [50]:
test5(6)

[0, 1, 8, 27, 64, 125]

In [1]:
l = [2,3,34,"iter"]

In [2]:
l = iter(l)

In [6]:
next(l)

'iter'

In [9]:
def test(n):
    l = []
    for i in range(n):
        l.append(i)
    return l

In [10]:
test(5)

[0, 1, 2, 3, 4]

In [1]:
#Genrater
def test1(n):
    for i in range(n):
        yield i**3

In [3]:
def genfib(n):
    a = 1 
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a , b = b , a+b
    return output

In [4]:
genfib(4)

[1, 1, 2, 3]

In [9]:
def genfib(n):
    a = 1 
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a , b = b , a+b
    yield output

In [10]:
genfib(7565445)

In [12]:
for i in genfib(12):
    print(i)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [14]:
def genfib(n):
    a = 1 
    b = 1
    for i in range(n):
        yield a
        a , b = b , a+b

In [15]:
genfib(12)

In [16]:
for i in genfib(12):
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144

In [47]:
# File Handling in core python 
f = open("text.txt","w")

In [48]:
f.write("dfsalgksdflglsdfgkl dfl;gksdflsdflgk")

36

In [49]:
f.close()

In [50]:
f = open("text.txt")

In [51]:
f.read()

'dfsalgksdflglsdfgkl dfl;gksdflsdflgk'

In [52]:
f.seek(10) # rest courser on ten th place

10

In [53]:
f.read()

'lglsdfgkl dfl;gksdflsdflgk'

In [54]:
f.seek(0)

0

In [55]:
f.read()

'dfsalgksdflglsdfgkl dfl;gksdflsdflgk'

In [56]:
f.read()

''

In [59]:
f.close()

In [63]:
f = open("text.txt","a")

In [67]:
f.write("\n af sfasd safd")

15

In [30]:
f = open("text.txt","w")

In [31]:
f.write(r"icode guru is best platform to learn any thing about computer science and career")

80

In [32]:
f.close()

In [33]:
f = open("text.txt")

In [34]:
f.read()

'icode guru is best platform to learn any thing about computer science and career'

In [35]:
f.read()

''

In [36]:
f.seek(5)

5

In [37]:
f.read()

' guru is best platform to learn any thing about computer science and career'

In [38]:
f.read()

''

In [39]:
f.seek(0)

0

In [40]:
f.read()

'icode guru is best platform to learn any thing about computer science and career'

In [41]:
f = open("text.txt","r")

In [43]:
f.read()

'icode guru is best platform to learn any thing about computer science and career'

In [44]:
f.seek(0)

0

In [45]:
f.read(25)

'icode guru is best platfo'

In [46]:
f.read(5)

'rm to'

In [47]:
f.close()

In [50]:
f = open("text.txt","w")

In [51]:
f.write("icode guru is best platform to learn any thing about computer science and career")

80

In [52]:
f.close()

In [53]:
f = open("text.txt","a")

In [54]:
f.write(". the host of this platform is sir shahid")

41

In [56]:
f.close()

In [57]:
f = open("text.txt")

In [58]:
f.read()

'icode guru is best platform to learn any thing about computer science and career. the host of this platform is sir shahid'

In [59]:
f.close()

In [60]:
f = open("text1.txt","wb")

In [62]:
f.write(b"icode guru is best platform to learn any thing about computer science and career")

80

In [63]:
f.close()

In [90]:
f = open("text1.txt","rb")

In [91]:
f.read()

b'icode guru is best platform to learn any thing about computer science and career'

In [92]:
f.seek(2)

2

In [93]:
f.read(1)

b'o'

In [94]:
f.seek(-7,1)

OSError: [Errno 22] Invalid argument

In [95]:
f.read()

b'de guru is best platform to learn any thing about computer science and career'

In [96]:
f.seek(0)

0

In [106]:
f.seek(-7,2)

73

In [107]:
f.read()

b' career'

In [20]:
f = open("text2.txt","w")

In [21]:
f.write("ahmed hammad arslan rashid nabeel adeel")

39

In [22]:
f.close()

In [25]:
f = open("text2.txt" , "r")

In [24]:
f.read()

'ahmed hammad arslan rashid nabeel adeel'

In [10]:
f.seek(0)

0

In [11]:
f.readline()

'ahmed hammad arslan rashid nabeel adeel\n'

In [12]:
f.readline()

'ajkasas\n'

In [13]:
f.readline()

'asajksdf\n'

In [14]:
f.readline()

'asdffjklasdf\n'

In [15]:
f.readline(1)

'a'

In [16]:
f.seek(0)

0

In [26]:
f.readline(1)

'a'

In [27]:
f.readline(9)

'hmed hamm'

In [28]:
f.close()

In [39]:
f = open("text2.txt","r")

In [34]:
f.readline()

'ahmed hammad arslan rashid nabeel adeel'

In [36]:
f.readline(6)

''

In [37]:
f.readline()

''

In [40]:
for i in f:
    print(i)

ahmed hammad arslan rashid nabeel adeel

In [41]:
f.close()

In [46]:
f = open("text2.txt","r")

In [47]:
f.readline(3)

'ahm'

In [48]:
f.close()

In [57]:
f = open("text2.txt","r")

In [58]:
for i in f:
    print(i)

ahmed hammad arslan rashid nabeel adeel

alkdsa

dklfjasklfjdas

asdkl;fjklasdfjasdkl

askl;dfjasdkljfasdklfjaksl

asdklfjkl;asdklfjaksldfj

askdfj

kdfjkasldfjk

In [55]:
f.seek(0)

0

In [56]:
for i in f:
    print(i,end=" ")

ahmed hammad arslan rashid nabeel adeel
 alkdsa
 dklfjasklfjdas
 asdkl;fjklasdfjasdkl
 askl;dfjasdkljfasdklfjaksl
 asdklfjkl;asdklfjaksldfj
 askdfj
 kdfjkasldfjk

In [59]:
f.close()

In [66]:
f = open("text2.txt","r+")  # r+ mean read  and write file

In [68]:
list(f)

['ahmed hammad arslan rashid nabeel adeel \n',
 'alkdsa\n',
 'dklfjasklfjdas\n',
 'asdkl;fjklasdfjasdkl\n',
 'askl;dfjasdkljfasdklfjaksl\n',
 'asdklfjkl;asdklfjaksldfj\n',
 'askdfj\n',
 'kdfjkasldfjk\n']

In [69]:
f.write("fksdajkfkcvbxcvbzx")

18

In [70]:
f.close()

In [78]:
f = open("text2.txt","r+")

In [80]:
f.writelines(",zxcvm,vmzxcmv")

In [81]:
f.close()

In [79]:
f.seek(345)

345

In [86]:
f = open("text2.txt" , "r+")

In [87]:
f.fileno()

6

In [88]:
%%writefile test.txt
my name is muhammad arslan

Writing test.txt

In [89]:
import os

In [90]:
pwd()

'C:\\Users\\Ahmad Hassan'

In [91]:
os.getcwd()

'C:\\Users\\Ahmad Hassan'

In [92]:
os.listdir()

['.bash_history',
 '.conda',
 '.condarc',
 '.continuum',
 '.gitconfig',
 '.gnutls',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.obs64',
 '.python_history',
 '.ssh',
 '.vscode',
 'anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Data science in 40 days course',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'My-python-notebook.ipynb',
 'NetHood',
 'ntuser.dat',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TM.blf',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TMContainer00000000000000000001.regtrans-ms',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TM.blf',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TMContainer00000000000000000001.regtrans-ms',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'test.txt',
 'text.txt',
 'text1.txt',
 'text2.txt',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Videos']

In [93]:
os.listdir("C:\\Users")

['Ahmad Hassan',
 'All Users',
 'Default',
 'Default User',
 'desktop.ini',
 'Public']

In [94]:
pwd()

'C:\\Users\\Ahmad Hassan'

In [95]:
os.getcwd()

'C:\\Users\\Ahmad Hassan'

In [96]:
os.chdir("C:\\Users")

In [97]:
pwd()

'C:\\Users'

In [98]:
os.chdir('C:\\Users\\Ahmad Hassan')

In [99]:
os.getcwd()

'C:\\Users\\Ahmad Hassan'

In [100]:
os.mkdir("Arslan")

In [101]:
os.listdir()

['.bash_history',
 '.conda',
 '.condarc',
 '.continuum',
 '.gitconfig',
 '.gnutls',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.obs64',
 '.python_history',
 '.ssh',
 '.vscode',
 'anaconda3',
 'AppData',
 'Application Data',
 'Arslan',
 'Contacts',
 'Cookies',
 'Data science in 40 days course',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'My-python-notebook.ipynb',
 'NetHood',
 'ntuser.dat',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TM.blf',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TMContainer00000000000000000001.regtrans-ms',
 'ntuser.dat{389787b5-5819-11ec-8a18-f04da2326993}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TM.blf',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TMContainer00000000000000000001.regtrans-ms',
 'ntuser.dat{c6a68296-7818-11ec-8f04-f04da2326993}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'test.txt',
 'text.txt',
 'text1.txt',
 'text2.txt',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Videos']

In [103]:
if "test.txt" in os.listdir():
    print("my file is available")
    f = open("test.txt" , "r+")
    for i in f:
        print(i)
else:
    print("no file")

my file is available
my name is muhammad arslan

In [116]:
if not os.path.isdir("Arslan"):
    os.mkdir("Arslan")

In [114]:
os.rmdir("Arslan")

In [119]:
os.chdir("C:\\Users\\Ahmad Hassan")

In [109]:
os.mkdir("new_dir")

In [121]:
import shutil
shutil.move("C:\\Users\\Ahmad Hassan\\new_dir" , "C:\\Users\\Ahmad Hassan\\Arslan")

'C:\\Users\\Ahmad Hassan\\Arslan\\new_dir'

In [122]:
os.getcwd()

'C:\\Users\\Ahmad Hassan'

In [2]:
# Logging and Debuging
"""how to find problem?? we use logging and debuging process
1.DEBUG 2.INFO 3.WARNING 4.ERROR 5.CRITICAL 6.EXCEPTION (non-type log)"""

'how to find problem?? we use logging and debuging process\n1.DEBUG 2.INFO 3.WARNING 4.ERROR 5.CRITICAL'

In [8]:
import logging as lg

In [3]:
pwd()

'K:\\Pc Games\\Arslan'

In [4]:
import os

In [5]:
os.mkdir("logging")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'logging'

In [6]:
os.chdir(os.getcwd() + "/" + "logging")

In [7]:
pwd()

'K:\\Pc Games\\Arslan\\logging'

In [9]:
lg.basicConfig(filename = 'K:\\Pc Games\\Arslan\\logging//text.log' , level = lg.ERROR , format = '%(asctime)s %(message)s')

In [10]:
lg.info("this is a first warrning")

In [11]:
lg.error("This is worg thing")

In [12]:
lg.warning("This is warring")

In [13]:
def test(a,b):
    try :
        div = a/b
        return div
    except Exception as e :
        print( "you can check my log for more info")
        lg.error("error has occured")
        lg.exception(str(e))

In [14]:
test(3,0)

you can check my log for more info

In [15]:
import logging as lg

In [16]:
lg.basicConfig(filename = 'K:\\Pc Games\\Arslan\\logging//text1.log' , level = lg.INFO  ,  format = '%(asctime)s %(message)s')
#level bydefult capture info log we discus 5 type of log

In [17]:
def test1(a,b):
    lg.info("this is a start of function")
    return a+b

In [18]:
test1(5,6)

11

In [19]:
# if i want to shutdown() logging 
lg.shutdown()

In [21]:
lg.debug("this is for debugging")
lg.info("this is info log")
lg.warning("this is warning log")
lg.error("this is error log")
lg.exception("this is exception log") #exception log is nontype
lg.critical("this is critical log")

In [1]:
import logging as lg
lg.basicConfig(filename = "gerneral.log" , level = lg.INFO , format = "%(asctime)s %(message)s")
def loger(*args):
    lg.info("not sum string in numbers")
    sum1 = 0
    for i in args:
        sum1 = sum1+i
    return sum1

In [2]:
pwd()

'K:\\Pc Games\\Arslan'

In [3]:
loger(1,2,34,5,6)

48

In [2]:
import logging as lg
lg.basicConfig(filename = "logger1.log" , level = lg.DEBUG , format = "%(asctime)s - %(name)s - %(levelname)s - %(message)s")

In [3]:
format = "%(asctime)s  %(name)s %(levelname)s %(message)s"
console_log = lg.StreamHandler()
# console_log.setLevel(lg.DEBUG)
format = lg.Formatter(format)
console_log.setFormatter(format)
# lg.getLogger("").addHandler(console_log)
lg.info("this is my first test code for log")
logger1 = lg.getLogger("logger1.area1")
logger2 = lg.getLogger("logger2.area2")
logger1.info("this is info for logger one")
logger2.debug("this is a debug for fogger two")
logger2.info("this is a info for logger two")

2022-03-10 14:22:21,386 root INFO this is my first test code for log
2022-03-10 14:22:21,386 logger1.area1 INFO this is info for logger one
2022-03-10 14:22:21,386 logger2.area2 DEBUG this is a debug for fogger two
2022-03-10 14:22:21,404 logger2.area2 INFO this is a info for logger two

In [21]:
import logging as lg   #if you not give file name (same above code)
lg.basicConfig(level = lg.DEBUG , format = "%(asctime)s %(name)s %(levelname)s %(message)s")

In [22]:
console_log = lg.StreamHandler()
console_log.setLevel(lg.INFO)

In [23]:
format = "%(asctime)s %(levelname)s %(message)s"
format = lg.Formatter(format)
console_log.setFormatter(format)

In [24]:
lg.getLogger("").addHandler(console_log)

In [25]:
lg.info("this is my first test code for log")

2022-03-10 14:32:59,179 root INFO this is my first test code for log
2022-03-10 14:32:59,179 INFO this is my first test code for log
2022-03-10 14:32:59,179 INFO this is my first test code for log

In [26]:
logger1 = lg.getLogger("logger1.area1")
logger2 = lg.getLogger("logger2.area2")

In [27]:
logger1.info("this is info for logger one")
logger2.debug("this is a debug for logger two")
logger2.info("this is a info for logger two")

2022-03-10 14:33:01,522 logger1.area1 INFO this is info for logger one
2022-03-10 14:33:01,522 INFO this is info for logger one
2022-03-10 14:33:01,522 INFO this is info for logger one
2022-03-10 14:33:01,522 logger2.area2 DEBUG this is a debug for logger two
2022-03-10 14:33:01,522 logger2.area2 INFO this is a info for logger two
2022-03-10 14:33:01,522 INFO this is a info for logger two
2022-03-10 14:33:01,522 INFO this is a info for logger two

In [28]:
# Debugger
def testdebug():
    l = []
    for i in range(10):
        l.append(i)
        print("we have appended your data in list")
    return l

In [29]:
testdebug()

we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
!pip install ipdb  #if face issue in window than use !pip install --user ipdb

Requirement already satisfied: ipdb in c:\users\ahmad\anaconda3\lib\site-packages (0.13.9)
Requirement already satisfied: decorator in c:\users\ahmad\anaconda3\lib\site-packages (from ipdb) (5.0.6)
Requirement already satisfied: toml>=0.10.2 in c:\users\ahmad\anaconda3\lib\site-packages (from ipdb) (0.10.2)
Requirement already satisfied: ipython>=7.17.0 in c:\users\ahmad\anaconda3\lib\site-packages (from ipdb) (7.22.0)
Requirement already satisfied: setuptools in c:\users\ahmad\anaconda3\lib\site-packages (from ipdb) (52.0.0.post20210125)
Requirement already satisfied: pygments in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (3.0.17)
Requirement already satisfied: colorama in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (5.0.5)
Requirement already satisfied: jedi>=0.16 in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.17.2)
Requirement already satisfied: backcall in c:\users\ahmad\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\ahmad\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.17.0->ipdb) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\ahmad\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.17.0->ipdb) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\ahmad\anaconda3\lib\site-packages (from traitlets>=4.2->ipython>=7.17.0->ipdb) (0.2.0)

In [36]:
import ipdb as db

In [37]:
def testdebug():
    db.set_trace()
    l = []
    for i in range(10):
        l.append(i)
        print("we have appended your data in list")
    return l

In [38]:
testdebug()

> <ipython-input-37-fff7d3e5811e>(3)testdebug()
      2     db.set_trace()
----> 3     l = []
      4     for i in range(10):

ipdb> h

Documented commands (type help <topic>):
========================================
EOF    cl         debug    ignore    n       pp       run          unalias
a      clear      disable  interact  next    psource  rv           undisplay
alias  commands   display  j         p       q        s            unt
args   condition  down     jump      pdef    quit     skip_hidden  until
b      cont       enable   l         pdoc    r        source       up
break  context    exit     list      pfile   restart  step         w
bt     continue   h        ll        pinfo   return   tbreak       whatis
c      d          help     longlist  pinfo2  retval   u            where

Miscellaneous help topics:
==========================
exec  pdb

ipdb> next
> <ipython-input-37-fff7d3e5811e>(4)testdebug()
      3     l = []
----> 4     for i in range(10):
      5         l.append(i)

ipdb> next
> <ipython-input-37-fff7d3e5811e>(5)testdebug()
      4     for i in range(10):
----> 5         l.append(i)
      6         print("we have appended your data in list")

ipdb> next
> <ipython-input-37-fff7d3e5811e>(6)testdebug()
      5         l.append(i)
----> 6         print("we have appended your data in list")
      7     return l

ipdb> next
we have appended your data in list
> <ipython-input-37-fff7d3e5811e>(4)testdebug()
      3     l = []
----> 4     for i in range(10):
      5         l.append(i)

ipdb> next
> <ipython-input-37-fff7d3e5811e>(5)testdebug()
      4     for i in range(10):
----> 5         l.append(i)
      6         print("we have appended your data in list")

ipdb> next
> <ipython-input-37-fff7d3e5811e>(6)testdebug()
      5         l.append(i)
----> 6         print("we have appended your data in list")
      7     return l

ipdb> next
we have appended your data in list
> <ipython-input-37-fff7d3e5811e>(4)testdebug()
      3     l = []
----> 4     for i in range(10):
      5         l.append(i)

ipdb> i
1
ipdb> c
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list
we have appended your data in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Module
import math

In [2]:
math.sin(30)

-0.9880316240928618

In [3]:
math.sqrt(4)

2.0

In [6]:
from math import sqrt

In [7]:
from math import sqrt,pi

In [8]:
from math import *

In [14]:
print(dir(math))    #to see all function of module

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [15]:
import pandas

In [16]:
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [1]:
import test

Arslan

In [2]:
import test

In [3]:
import test

In [4]:
import test

In [21]:
import imp 
                                      #to reload again module

In [7]:
imp.reload(test)

Arslan

In [8]:
import sum_fun

In [10]:
sum_fun.sum_fun(3,54)

57

In [11]:
sum_fun.sum_fun(2,3)

5

In [1]:
import m_fun as m

In [2]:
m.power(3,4)

81

In [1]:
import os

In [8]:
os.mkdir("test1")

In [9]:
os.getcwd()

'K:\\Pc Games\\Arslan'

In [10]:
os.chdir("test1")

In [11]:
pwd()

'K:\\Pc Games\\Arslan\\test1'

In [12]:
os.mkdir("test")

In [13]:
os.chdir("test")

In [16]:
for i in range(1,4):
    f = open("mod"+str(i)+".py" , "w+")

In [22]:
f = open("mod1.py","w+")

In [23]:
f.close()

In [1]:
# Exeption Handling

In [3]:
def test(a,b):
    return a/b

In [4]:
test(2,4)

0.5

In [10]:
def test(a,b):
    if b==0:
        return "Not divide by zero"
    else:
        return a/b

In [11]:
test(2,3)

0.6666666666666666

In [12]:
test(3,0)

'Not divide by zero'

In [19]:
try:   # if you have runtime error in try block code then run except block code
    f = open("test.txt","r")
except:
    pass

In [32]:
try:
    f = 3/0
except ArithmeticError as e:
    print("this code have error:",e)
else:
    print("this will execute once try will execute with sucess")

this code have error: division by zero

In [34]:
try:  #if code is run with out error else part work
    f = 3/5
except ArithmeticError as e:
    print("this code have error:",e)
else:
    print("this will execute once try will execute with sucess")

this will execute once try will execute with sucess

In [2]:
try:
    f = 3/6
except ArithmeticError as e:
    print("this code have error:",e)
else:
    print("this will execute once try will execute with sucess")
    try:
        
        f = open("test.txt","r")
    except:
        print("this is as issue with internl try block")

this will execute once try will execute with sucess
this is as issue with internl try block

In [4]:
try: 
    a = int(input("input integer"))
    b = int(input("input second integer"))
    f = a/b
except ArithmeticError as e:
    print("this code have error:",e)
else:
    print("this will execute once try will execute with sucess")
    try:
        
        f = open("test.txt","r")
    except:
        print("this is as issue with internl try block")

input integer3
input second integer0
this code have error: division by zero

In [10]:
try:
    l = [3,4,5,6,7,7]
    l[100]
except:
    print("there is an issue with my code")
    t = (3,4,5,6,7,7)
    print(t)
    try:
        t[0] = "hamza"
    except:
        pass
else:
    print("there is no issue with my code")

there is an issue with my code
(3, 4, 5, 6, 7, 7)

In [19]:
try:
    f = open("test1.txt","r")
except:
    pass
else:
    print("else will execute if try will execute with sucess")
finally:
    print("finally i will execute in any case")
    l = [1,2,3,4,5]
    try:
        print(l[10])
    except:
        pass
    print(l[1])

finally i will execute in any case
2

In [23]:
def ask_for_int():
    while True:
        try:
            a = int(input("Enter an integer: ")) 
        except Exception as e:
            print("this is my error msg",e)
        else:
            print("person has entered a correct value: " ,a)
            break
        finally :
                print("close this issue")

In [24]:
ask_for_int()

Enter an integer: df
this is my error msg invalid literal for int() with base 10: 'df'
close this issue
Enter an integer: sdfg
this is my error msg invalid literal for int() with base 10: 'sdfg'
close this issue
Enter an integer: sdfgsd
this is my error msg invalid literal for int() with base 10: 'sdfgsd'
close this issue
Enter an integer: sdfgsdf
this is my error msg invalid literal for int() with base 10: 'sdfgsdf'
close this issue
Enter an integer: 2
person has entered a correct value:  2
close this issue

In [29]:
def ask_for_int():
    while True:
        try:
            a = int(input("Enter an integer: "))
        except FileNotFoundError as e:
            print("this is my error msg",e)
        except IOError as e:
            print(e)
        except ValueError as e:
            print(e)
        else:
            print("person has entered a correct value: " ,a)
            break
        finally :
                print("close this issue")

In [30]:
ask_for_int()

Enter an integer: fdsa
invalid literal for int() with base 10: 'fdsa'
close this issue
Enter an integer: 4
person has entered a correct value:  4
close this issue

In [32]:
# Create your costum exception
def create_your_exception(a):
    if a == 6:
        raise Exception("this is your error: ",a)
    else:
        print("input is fine")
    return a